<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="Home.css">
  <script src="https://kit.fontawesome.com/d1b84c8faa.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>

  <script src="https://kit.fontawesome.com/d1b84c8faa.js" crossorigin="anonymous"></script>

  <title>Bacatar</title>
</head>

<body>
  <div class="formas">
    <div class="rectangle1"></div>
    <div class="rectangle2"></div>
    <div class="rectangle3"></div>
    <div class="rectangle4"></div>

    <nav class="navbar navbar-expand-lg bg-body align-items-center p-3" style="margin: 0 5%;">


      <div class="d-flex nav-complete align-items-center w-100" style="margin: 0 250px;">

        <div class="align-items-center navbar-img navbar-expand-lg">
          <a class="btn" href="Home.html">
            <img src="img/animalogo.gif" alt="">
          </a>
        </div>



        <!-- Container wrapper -->
        <div class="container p-3 nav-bacatar col-lg-11 d-flex" style="right: auto;">
          <!-- Navbar brand -->




          <!-- Toggle button -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>



          <!-- Collapsible wrapper -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <div class="align-items-center navbar-logotipo te">
              <a class="btn" href="https://github.com/mdbootstrap/mdb-ui-kit">
                <img src="img/Logotipo.png" alt="">
              </a>
            </div>

            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="width: 85%; justify-content: end;">
              <li class="nav-item">
                <a class="nav-link text-light mx-4" href="Home.html">Inicio</a>
              </li>
              <li class="nav-item">
                <div class="dropdown mx-2">
                  <button class="btn dropdown-toggle text-light " type="button" data-bs-toggle="dropdown" aria-expanded="false">
                       Acerca de    
                  </button>
                  <ul class="dropdown-menu dropdown-color">
                    <li><a class="dropdown-item" href="Nosotros.html">Nosotros</a></li>
                    <li><a class="dropdown-item" href="#">Obras</a></li>
                  </ul>
                </div>

              </li>
              <li class="nav-item">
                <a class="nav-link text-light mx-4" href="Galeria.html">Galeria</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light mx-4" href="#">Ar</a>
              </li>
            </ul>
            <!-- Left links -->


          </div>
          <!-- Collapsible wrapper -->

        </div>
        <!-- Container wrapper -->
      </div>
    </nav>



  </div>


  <div class="lin"></div>
  <main>


    <!-- Carrousell sention -->
    <section>


      <div class=" row align-items-center mt-5">
        <div class=" fs-2 col-xs-12 col-xl-5 wave">
          <img src="img/Recurso 1.png" alt="" class="w-100">
        </div>

        <div id="carouselExampleAutoplaying" class="carousel slide col-xs-12 col-xl-7" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="img/pintor.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="img/pintura.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="img/septup.jpeg" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" style="color: black;" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

      </div>

    </section>




    <!-- End Carrousell sention -->

    <!-- Info section -->

    <section>
      <div class="container text-center nosotros" style="margin-top: 10rem;">
        <div class="row">
          <div class="col-xl-6 col-lg-12">
            <div class="tittle">
              <h1 class="text-light">Que hacemos?</h1>
            </div>
            <p class="fs-4 mt-5 text-justify">Bacatart promueve y difunde arte independiente en Bogotá. A través de
              nuestro sitio
              web, conectamos galerías, colectivos, bares, librerías, teatros y escenarios culturales. Ofrecemos
              recorridos, exposiciones, talleres y festivales para preservar el Patrimonio Cultural en las localidades
              de Usaquén y La Candelaria.</p>
          </div>
          <div class="col-xl-6 gallery col-lg-12">
            <img class="w-100" src="img/galeria.jpeg" alt="" style="align-items: center; justify-content: center; ">
          </div>
        </div>


      </div>
    </section>

    <!-- End Info section -->


    <section>
      <div class="container text-center nosotros" style="margin-top: 10rem; height: 60;">
        <div class="tittle" style="width: 40%;">
          <h1 class="text-light">Spot</h1>
        </div>
        <div class="col">
          <video class="w-100 object-fit-contain p-4 " controls autoplay style="border: 1px solid #0000;">
            <source src="EL ATÁQUE DE LA REALIDAD AUMENTADA.mp4" type="video/mp4">
          </video>
        </div>
      </div>
    </section>


    <section>
      <div class="container text-center nosotros" style="margin-top: 10rem; ">
        <div class="tittle mb-4" style="width: 40%;">
          <h1 class="text-light">Ar Bacatar</h1>
        </div>
        <div class="row col-xs-12 ">
          <div class="col-lg-10">
            <!-- Modal Section -->
            <div class="img-mariposas">
              <img src="img/mariposas.png" alt="" style="width: 80%;">
            </div>
            <!-- End Modal -->
          </div>

          <div class="col-lg-2 qr">
            <img src="img/qr.png" alt="" style="width: 15rem; transform: translateX(-50px);">
          </div>

        </div>
      </div>
    </section>


    <img src="img/Recurso 16.png" class="wave1" alt="">

    <!-- End carrousell sention -->

    


  </main>


  <footer class="text-center text-lg-start footer-color text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Sigue nuestras redes sociales</span>
      </div>
      <!-- Left -->

      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->


    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Bacatar
            </h6>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate minima voluptatem eaque enim eos
              voluptates fugit! Facere, iusto. Ipsa, doloremque porro. Error laborum, alias nisi impedit debitis facere
              natus perferendis!.
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Article
            </h6>
            <p>
              <a href="#!" class="text-reset text-decoration-none">onearticle</a>
            </p>
            <p>
              <a href="#!" class="text-reset text-decoration-none">onearticle</a>
            </p>
            <p>
              <a href="#!" class="text-reset text-decoration-none">onearticle</a>
            </p>
            <p>
              <a href="#!" class="text-reset text-decoration-none">onearticle</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Acerca de
            </h6>
            <p>
              <a th:href="@{/login}" class="text-reset text-decoration-none">Inicia sesion</a>
            </p>
            <p>
              <a th:href="@{/register}" class="text-reset text-decoration-none">Registrate</a>
            </p>
            <p>
              <a th:href="@{/nosotros}" class="text-reset text-decoration-none">¿Quienes somos?</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">None</h6>
            <p><i class="fas fa-home me-3"></i> direction</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              user@gmail.com
            </p>
            <p><i class="fas fa-phone me-3"></i> + 57 3114680826</p>
            <p><i class="fas fa-print me-3"></i> + 57 3114680826</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="#/">link.com</a>
    </div>
    <!-- Copyright -->
  </footer>

  

  <script src="js/main.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script>

    // Funciona que altera el intervalo de tiempo en los cambios de imagen
    $(document).ready(function () {
      $('.carousel').carousel({
        interval: 3000, // Cambia la imagen cada 3 segundos
        pause: "hover" // Pausa la transición al pasar el cursor por encima del carrusel
      });
    });
  </script>

</body>


</html>


<!--<div id="carouselExampleCaptions" class="carousel slide col-xs-12 col-xl-7">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
            aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
          <div class="" >
            <div class="carousel-item active " style="padding: 10px; height: 100%;">
              <p class="text-dark fs-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias, quod accusantium. Vitae eos ratione nam suscipit odit dignissimos ipsum ad deserunt impedit? Numquam modi itaque maiores, qui dolorum nihil animi?</p>
            </div>
          </div>
          <div class="">
            <div class="carousel-item active pintor">
              <img src="img/pintor.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
              </div>
            </div>
          </div>
          <div class="">
            <div class="carousel-item active pintor">
              <img src="img/septup.jpeg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
              </div>
            </div>
          </div>
          <div class="">
            <div class="carousel-item active pintor">
              <img src="img/pintura.jpeg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>-->